
@{
    ViewBag.Title = "Կարգավորումների հաստատում";
}

<div class="card container-maxwidth500">
    <div class="card-header">
        <h1 style="color:#0fc10e; text-align:center"><i class="icon-check"></i></h1>
    </div>
        <div class="card-body">
            <h6 style="color:#0fc10e; text-align:center">Ձեր կարգաբերումները հաստատված են</h6>
        </div>
    </div>

