@model eLConsultation.Data.OrganizationItem

@Html.HiddenFor(model => model.OrganizationID)

    <div class="card-body">
        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationName, new { @class = "control-label" })
            @Html.Kendo().TextBoxFor(model => model.OrganizationName).HtmlAttributes(new { @class = "form-control" })
        </div>
    </div>
