@{
    ViewBag.Title = "Էլ․ փոստի հաստատում";
    Layout = "_LayoutLogin.cshtml";
}


<div class="card-body">
    <h1 style="color:#0fc10e; text-align:center"><i class="icon-check"></i></h1>
    <p class="text-muted">Դուք հաջողությամբ գրացվել եք համակարգում</p>
    <p class="text-muted">Խնդրում ենք սեղմել @Html.ActionLink("այստեղ", "Login", "Login", routeValues: null, htmlAttributes: new { style = "display: inline" }) մուտքի համար</p>
</div>

