@{
    ViewBag.Title = "Ստուգել Էլ․ փոստը";
    Layout = "_LayoutLogin.cshtml";
}


<div class="card-body">
    <p class="text-muted">Խնդրում ենք ստուգել էլ․ փոստը՝ հաշիվը առաջին անգամ ակտիվացնելու համար</p>
    <p class="text-muted"><a href="@Url.Action("Login", "Login")">Վերադառնալ մուտքի պատուհան</a></p>
</div>