@{
    ViewBag.Title = "Գաղտնաբառի հաստատում";
    Layout = "_LayoutLogin.cshtml";
}


<div class="card-body">
    <h2 class="text-center">Գաղտնաբառի հաստատում</h2>
    <p class="text-muted">Եթե Ձեր էլ․ փոստը գրանցված է համակարգում, ապա դուք կստանաք նամակ որում առկա հղումով կարող եք վերականգնել Ձեր գաղտնաբառը</p>
    <p class="text-muted">Խնդրում ենք ստուգել Ձեր էլ․ փոստը</p>
    <div class="m-4">
        <a href="@Url.Action("ForgotPassword", "Login")" class="btn btn-primary px-4">Վերադառնալ</a>
    </div>
</div>




