@{
    ViewBag.Title = "Թիրախաին խմբեր";
}
<div id="catalog">
    @(Html.Kendo().Grid<eLConsultation.Data.TargetGroupItem>()
    .Name("grid")
    .NoRecords("Գրառումներ չկան")
    .Events(e => e.DataBound("correctPopUpGrid"))
    .Columns(columns =>
    {
        columns.Bound(p => p.TargetGroupID).Visible(false);
        columns.Bound(p => p.TargetGroupName);
        columns.Command(command =>
        {
            command.Edit().Text(" ").UpdateText("Պահպանել").CancelText("Չեղարկել");
            command.Destroy().Text(" ");
        }).Width(115);
    })
    .ToolBar(toolbar => toolbar.Create().Text("Նոր գրառում"))
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("TargetGroupPopUp").Window(w => w.Title("Մուտքի պատուհան").Events(e => e
            .Deactivate("correctPopUpGrid")
            //.Close("correctPopUpGrid")
            .Activate("correctPopUpGrid")
            .Open("correctPopUpGrid"))))
    //.Pageable()
    .Filterable(f => f.Extra(false)
                                         .Operators(o => o.ForString(s => s.Clear()
                                          .Contains("Պարունակում է")
                                          .DoesNotContain("Չի պարունակում")
                                          .StartsWith("Սկսվում է")
                                          .EndsWith("Վերջանում է")
                                          .IsEqualTo("Նույնն է")
                                          .IsNotEqualTo("Նույնը չէ")
                                        )).Messages(m => m
                                        .Filter("Որոնել")
                                        .Clear("Մաքրել")
                                        .Info("Գրառում, որը")))
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.TargetGroupID))
        .Create(update => update.Action("TargetGroupCreate", "TargetGroup"))
        .Read(read => read.Action("TargetGroupSelect", "TargetGroup"))
        .Update(update => update.Action("TargetGroupUpdate", "TargetGroup"))
        .Destroy(update => update.Action("TargetGroupDelete", "TargetGroup"))
    )
    )
</div>


