@{
    ViewBag.Title = "Կազմակերպություններ";
}
<script>
    function onIssueDetailExpand(e) {
        currentIssueIndex = $(e.masterRow).index(".k-master-row");
        var selectedItem = this.dataItem(e.masterRow);
        CID = selectedItem.CompanyID;
        this.collapseRow(this.tbody.find(' > tr.k-master-row').not(e.masterRow));
    }
</script>
<div id="catalog">
    @(Html.Kendo().Grid<eLConsultation.Data.CompanyItem>()
    .Name("grid")
    .NoRecords("Գրառումներ չկան")
    .Events(e => e.DataBound("correctPopUpGrid").DetailExpand("onIssueDetailExpand"))
    .Columns(columns =>
    {
        columns.Bound(p => p.CompanyID).Visible(false);
        columns.Bound(p => p.CompanyName);
        columns.Command(command =>
        {
            command.Edit().Text(" ").UpdateText("Պահպանել").CancelText("Չեղարկել");
            command.Destroy().Text(" ");
        }).Width(115);
    })
    .ToolBar(toolbar => toolbar.Create().Text("Նոր գրառում"))
    .Editable(editable => editable.Mode(GridEditMode.PopUp)
        .TemplateName("CompanyPopUp")
        .Window(w => w.Title("Մուտքի պատուհան").Events(e => e
            .Deactivate("correctPopUpGrid")
            .Activate("correctPopUpGrid")
            .Open("correctPopUpGrid"))))
    .Filterable(f => f.Extra(false)
                                         .Operators(o => o.ForString(s => s.Clear()
                                          .Contains("Պարունակում է")
                                          .DoesNotContain("Չի պարունակում")
                                          .StartsWith("Սկսվում է")
                                          .EndsWith("Վերջանում է")
                                          .IsEqualTo("Նույնն է")
                                          .IsNotEqualTo("Նույնը չէ")
                                        )).Messages(m => m
                                        .Filter("Որոնել")
                                        .Clear("Մաքրել")
                                        .Info("Գրառում, որը")))
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.CompanyID))
        .Create(update => update.Action("CompanyCreate", "Company"))
        .Read(read => read.Action("CompanySelect", "Company"))
        .Update(update => update.Action("CompanyUpdate", "Company"))
        .Destroy(update => update.Action("CompanyDelete", "Company"))
    )
    .ClientDetailTemplateId("template")
    )
</div>
<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<eLConsultation.Data.IssueSetItem>()
    .Name("grid_#=CompanyID#")
    .Events(e => e.DataBound("showCommandIcons"))
      .Columns(columns =>
      {
          columns.Bound(o => o.IssueID).Hidden();
          columns.Bound(o => o.IssueName);
          columns.Bound(o => o.IssueTypeName);
          columns.Bound(o => o.IssueDate).Width(98);
          columns.Command(commands =>
              {
                  commands.Custom("cmdUpdateIssue_#=CompanyID#").Text(" ").Click("UpdateIssue").HtmlAttributes(new { @class = "Update_Icon" });
                  commands.Custom("cmdDeleteIssue_#=CompanyID#").Text(" ").Click("DeleteIssue").HtmlAttributes(new { @class = "Delete_Icon" });
              }).Title("Հրամաններ").Width(120);
      })

          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read.Action("GetIssuesSetItemsByCompanyID", "Issue", new { companyID = "#=CompanyID#" }))
                      )
         .ToClientTemplate())
</script>
<script type="text/javascript">

    function UpdateIssue(e) {
        var gridName = "#grid_" + CID;
        var row = $(e.target).closest("tr");
        var grid = $(gridName).data("kendoGrid");
        var dataItem = grid.dataItem(row);
        window.location = '@Url.Action("Update", "Issue")/?issueID=' + dataItem.IssueID;
    }

    function DeleteIssue(e) {
        var gridName = "#grid_" + CID;
        var row = $(e.target).closest("tr");
        var grid = $(gridName).data("kendoGrid");
        var dataItem = grid.dataItem(row);
        var r = confirm("Համոզված ե՞ք, որ ցանկանում եք հեռացնել խնդրի գրառումը");
        if (r == false) {
            return false;
        }
        var rt = false;
        var dt;
        var q = $.ajax({
            url: '@Url.Action("Delete", "Issue")',
            dataType: "json",
            type: "GET",
            data: { issueID: dataItem.IssueID },
            async: false,
            success: function (data) { dt = data; rt = true; },
            error: function (xhr) { dt = xhr; rt = false; }
        });
        if (rt == true) {
            if (dt != "DELETE_SUCCESS") {
                alert(JSON.stringify(dt));
            }
            else {
                grid.dataSource.read();
            }
        }
        else {
            alert(dt);
            return false;
        }
        return false;
    }

</script>


