@model eLConsultation.Data.IssueTypeItem

@Html.HiddenFor(model => model.IssueTypeID)

    <div class="card-body">
        <div class="form-group">
            @Html.LabelFor(model => model.IssueTypeName, new { @class = "control-label" })
            @Html.Kendo().TextBoxFor(model => model.IssueTypeName).HtmlAttributes(new { @class = "form-control" })
        </div>
    </div>
