@{
    ViewBag.Title = "Տարիքային խմբեր";
}
<div id="catalog">
    @(Html.Kendo().Grid<eLConsultation.Data.AgeGroupItem>()
    .Name("grid")
    .NoRecords("Գրառումներ չկան")
    .Events(e => e.DataBound("correctPopUpGrid"))
    .Columns(columns =>
    {
        columns.Bound(p => p.AgeGroupID).Visible(false);
        columns.Bound(p => p.AgeGroupName);
        columns.Command(command =>
        {
            command.Edit()
                .Text(" ")
                .UpdateText("Պահպանել")
                .CancelText("Չեղարկել");
            command.Destroy().Text(" ");
        }).Width(115);
    })
    .ToolBar(toolbar=>
        toolbar.Create().Text("Նոր գրառում"))
    .Editable(editable => editable
    .Mode(GridEditMode.PopUp)
    .TemplateName("AgeGroupPopUp")
    .Window(w => w
        .Title("Մուտքի պատուհան")
        .Name("AgeGroup")
        .Events(e => e
            .Deactivate("correctPopUpGrid")
            //.Close("correctPopUpGrid")
            .Activate("correctPopUpGrid")
            .Open("correctPopUpGrid"))
        )
    )
    //.Pageable()
    .Filterable(f => f.Extra(false)
    .Operators(o => o.ForString(s => s.Clear()
        .Contains("Պարունակում է")
        .DoesNotContain("Չի պարունակում")
        .StartsWith("Սկսվում է")
        .EndsWith("Վերջանում է")
        .IsEqualTo("Նույնն է")
        .IsNotEqualTo("Նույնը չէ")
    )).Messages(m => m
        .Filter("Որոնել")
        .Clear("Մաքրել")
        .Info("Գրառում, որը")))
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(20)
    .Events(events => events.Error("error_handler"))
    .Model(model => model.Id(p => p.AgeGroupID))
    .Create(update => update.Action("AgeGroupCreate", "AgeGroup"))
    .Read(read => read.Action("AgeGroupSelect", "AgeGroup"))
    .Update(update => update.Action("AgeGroupUpdate", "AgeGroup"))
    .Destroy(update => update.Action("AgeGroupDelete", "AgeGroup"))
    )
    )
</div>


