@{
    ViewBag.Title = "Գլխավոր էջ";
}


    <!-- Breadcrumb -->
    @*<ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
        
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#"><i class="icon-speech"></i></a>
                <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
            </div>
        </li>
    </ol>*@
    <div class="marginTop-20 container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="first-6 col-sm-12 col-lg-6">
                    <h3>Խորհրդատվական ծառայությունների հաշվառման էլեկտրոնային համակարգ</h3>
                    <p>
                        Այս տեղեկատվական համակարգը իրենից ներկայացնում է համացանցով գործող վեբ ծրագրային լուծում, որի միջոցով օգտվողները հնարավորություն կունենան մուտքագրել Հելսինկյան Քաղաքացիական Ասամբլեայի Վանաձորի (ՀՔԱՎ) գրասենյակին դիմած քաղաքացիների և քաղաքացիներին մատուցած խորհրդատվական ծառայությունների վերաբերյալ տեղեկատվությունը:
                    </p>
                    <p>
                        Սույն համակարգի կիրառմամբ ՀՔԱՎ գրասենյակը նպատակ ունի ներդնել կենտրոնացված տեղեկատվական համակարգ իր կողմից մատուցվող խորհրդատվությունների հաշվառման, վարման, վերլուծությունների և հաշվետվությունների իրակակացման համար: Համակարգի ներդրումը կնպաստի տվյալների միօրինականացված հաշվառման, աշխատանքի և ժամանակի արդյունավետ օգտագործման համար, ինչն էլ իր հերթին կնպաստի մատուցվող ծառայությունների որակի բարձրացմանը: Համակարգի ներդրումը կբարձրացնի հավաքագրվող տվյալների ապահովությունը և անվտանգությունը, քանի որ բոլոր աշխատակիցներին կտրամադրի միօրինականացված ինտերֆեյսներ տվյալների մուտքագրման, դիտման և վերլուծությունների իրականացման համար:
                    </p>
                </div>
                <div class="second-6 col-sm-12 col-lg-6">
                    <img height="310" src="~/img/legal-consultation.jpg"  />
                </div>
            </div>

            <hr />
            @*<div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="card card-accent-primary">
                        <div class="card-header">
                            Գրավոր խորհրդատվություն
                        </div>
                        <div class="card-body">
                            Համակարգից օգտվողները պետք է հնարավորություն ունենա որոնման միջոցով գտնել համապատասխան գրավոր խորհրդատվության գրառման տվյալները և ցուցադրել դրանք համապատասխան կառավարման էջում: Օգտվողը պետք է հնարավորություն ունենա իրականացնել որոնումը անվամբ, ազգանվամբ և անձը հաստատող փաստաթղթի համարով, խորհրդատվության ամսաթվով, և խորհրդատվություն իրականացնող անձի տվյալներով:
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card card-accent-primary">
                        <div class="card-header">
                            Բանավոր խորհրդատվություն
                        </div>
                        <div class="card-body">
                            Համակարգից օգտվողները պետք է հնարավորություն ունենա որոնման միջոցով գտնել համապատասխան բանավոր խորհրդատվության գրառման տվյալները և ցուցադրել դրանք համապատասխան կառավարման էջում: Օգտվողը պետք է հնարավորություն ունենա իրականացնել որոնումը անվամբ, ազգանվամբ և անձը հաստատող փաստաթղթի համարով, խորհրդատվության ամսաթվով, և խորհրդատվություն իրականացնող անձի տվյալներով:
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-md-4">
                    <div class="card card-accent-primary">
                        <div class="card-header">
                            Քաղաքացիների գրառում
                        </div>
                        <div class="card-body">
                            Խորհրդատվական ծառայություններ ստանալու նպատակով դիմող անձանց վերաբերյալ անհատական տվյալները առանձնացված են բուն խորհրդատվական ծառայությանը առնչվող տեղեկատվությունից: Այդ իսկ նպատակով համակարգում պետք է լինի առանձին ինտերֆեյս, որի միջոցով հնարավոր կլինի կառավարել անհատական տվյալները: Այդ ինտերֆեյսը պետք է կազմված լինի տվյալների մուտքագրման և տվյալների ցուցադրման և որոնման պատուհաններից: Համակարգից օգտվողները պետք է հնարավորություն ունենա որոնման միջոցով գտնել համապատասխան անհատական տվյալները և ցուցադրել դրանք համապատասխան էջում: Օգտվողը պետք է հնարավորություն ունենա իրականացնել որոնումը անվամբ, ազգանվամբ և անձը հաստատող փաստաթղթի համարներով:
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>*@
            <!--/.row-->
        </div>
    </div>


    <!-- /.conainer-fluid -->
