@model eLConsultation.Data.RegionItem

@Html.HiddenFor(model => model.RegionID)

    <div class="card-body">
        <div class="form-group">
            @Html.LabelFor(model => model.RegionName, new { @class = "control-label" })
            @Html.Kendo().TextBoxFor(model => model.RegionName).HtmlAttributes(new { @class = "form-control" })
        </div>
    </div>
