@model eLConsultation.Data.IssueCategoryItem

@Html.HiddenFor(model => model.IssueCategoryID)

    <div class="card-body">
        <div class="form-group">
            @Html.LabelFor(model => model.IssueCategoryName, new { @class = "control-label" })
            @Html.Kendo().TextBoxFor(model => model.IssueCategoryName).HtmlAttributes(new { @class = "form-control" })
        </div>
    </div>
