@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutNull.cshtml";
}

<div class="card card-accent-danger" style="max-width:670px; margin:0 auto">
    <div class="card-header">
        <h5 class="text-danger">Սերվերում առաջացել է խնդիր</h5>
    </div>
    <div class="card-body">
        @if (@Model != null)
        {
            <h2 class="text-danger">@Model.Exception.Message</h2>
        }
        else
        {
            <h2 class="text-danger">@ViewBag.Message</h2>
        }
        <h3 class="text-danger">An error occurred while processing your request.</h3>
    </div>
</div>


    
