@model eLConsultation.Data.ConsultationTypeItem

@Html.HiddenFor(model => model.ConsultationTypeID)

    <div class="card-body">
        <div class="form-group">
            @Html.LabelFor(model => model.ConsultationTypeName, new { @class = "control-label" })
            @Html.Kendo().TextBoxFor(model => model.ConsultationTypeName).HtmlAttributes(new { @class = "form-control" })
        </div>
    </div>
